.p-tieredmenu{
    background-color: orangered;
    color: #77170a;
}
.p-menuitem {
    font-size: x-large;
    width:100%;
}
.p-menuitem-active a {
    background: blueviolet !important;

}

.ui-menubar  {
    border: 1px solid #aed0ea !important;
    color: #ffffff !important;
    font-weight: bolder !important;
}

.videoStyle{
    width:100%;

    display:flex;
    flex-direction:row;
    border:2px solid red;
}

.menuStyle{
    width:25%;
    margin-left: 5%;
}

.menu{
    width:35%;
    margin-left: 5%;
    background-color: blueviolet;
    margin-top: 2%;

}

.uploadStyle{
    margin-left: 25%;
}
