
.App-header {
    background-color: darkslateblue;
    display: flex;
    flex-direction: row;

    justify-content: center;

    color: white;
}

.header h4{
    margin-left:5%
}

.multicolortext {
    margin-left: 30%;
    margin-right: 20%;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Lucida Calligraphy"
}



.form-demo .card {
    width: 500px;
    margin-left: 65%;
    background-color: darkslateblue;
    font-size: x-large;
    color:white;

}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 40%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 50%;
        min-width: 0;
    }
}
