
#channelform .card {
    width: 700px;
    margin-left: 30%;
    margin-top:-20%;
    background-color: darkslateblue;
    font-size: x-large;
    color:white;

}


.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
legend{
    text-align: center;

}
