/* FormDemo.css */

.anchor{
    display:inline;


}

.anchor p{
    display:inline;
    float:left;

}
.anchor a{
    padding:5%;
    color:white;

}

.form-demo .card {
    width: 700px;
    margin-left: 50%;
    margin-top:5%;
    background-color: darkslateblue;
    font-size: x-large;
    color:white;

}


.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}



/* ButtonDemo.css */

.p-button-success {
    margin-right: 0.5rem;
    background-color: white;
    color: blueviolet;
    font-size:x-large;
}
