.App{
    margin-top: -15%;
    width:30%;
    margin-left: 20%;
    font-size: x-large;

}

.selectStyle{
    height: 50px;
    font-size: x-large;
}

.videoStyle{
    margin-top: 5%;
    width:80%;
}
